{% extends 'base.html' %}
{% block title %}餐饮企业{% endblock %}
{% block content %}

<div class="search_area">
<form>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <input type="text" class="form-control mb-2" id="inlineFormInput"
             placeholder="社会统一信用代码">
    </div>
    <div class="col-auto">
        <input type="text" class="form-control mb-2" id="inlineFormInputGroup" placeholder="企业名称">
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary mb-2">搜索</button>
    </div>
  </div>
</form>
</div>

<form id="fileForm" method="post" enctype="multipart/form-data">
    <input type="file" style="display: none;" name="excel_file"
           id="excel_import" onchange="import_excel(this, 'hospital')">
</form>

<div class="my-toolbar">
  <div class="btn-toolbar justify-content-between" role="toolbar">
      <div class="btn-group" role="group" aria-label="First group">
        <a href="/hospital/create" class="btn btn-outline-primary">新增</a>
      </div>
      <div class="btn-group">
        <button onclick="open_excel()" class="btn btn-outline-primary">Excel导入</button>
        <a href="/common/export?excel_type=hospital" id="excel_export"
           class="btn btn-outline-primary" target="_blank">
            Excel导出
        </a>
      </div>
  </div>
</div>

<table data-method="post" data-toggle="table" data-url="{{url_for('hospital.query')}}"
   data-side-pagination="server"
   data-pagination="true"
   data-page-list="[5, 10, 20, 50, 100, 200]"
>
    <thead>
        <tr>
            <th data-sortable="true" data-formatter="id_field_formatter" data-field="id">ID</th>
            <th data-field="uniform_credit_code">社会统一信用代码</th>
            <th data-field="ent_name">企业名称</th>
            <th data-field="province">省份</th>
            <th data-formatter="op_formatter">操作</th>
        </tr>
    </thead>
</table>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script>
    var is_manager = false;
    {% if g.user['role'] == 'manager' %}
    is_manager = true;
    {% endif %}
</script>
{% endblock %}
